.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    animation: fadeIn 1200ms;
    min-height: 300px;

    &Main {
    }

    .developer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 450px;
        border-top: 2px solid #ececec;

        img {
            max-width: 497px;
        }
    }

    .hobbies {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 150px;
        min-width: 500px;
        border-top: 2px solid #ececec;
        background-color: #fafafa;

        &Title {
            display: flex;
            flex-direction: row;
            font-size: xx-large;

            &Activity {
                margin-left: 8px;
            }
        }
    }

    .consultant {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-top: 2px solid #ececec;
        background-color: #fafafa;
        min-width: 500px;
        height: 450px;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        &Title {
            font-size: xx-large;
            margin-bottom: 2vh;
        }

        &Text {
            font-size: large;
            max-width: 50%;
            margin-bottom: 50px;
            a {
                color: #333333;
            }
        }

        &Left {
            width: 50%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
        }

        &Right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            img {
                height: 85%;
                border-radius: 8px;
                box-shadow: 0 0 8px 2px #333333;
            }
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 2px solid #ececec;
        min-width: 500px;
        align-items: center;
        justify-content: center;

        &Title {
            font-size: xx-large;
        }

        a {
            color: #333333;
        }
    }

    .story {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #ececec;
        background-color: #fafafa;
        width: 100%;
        padding: 2vh 0;

        &Title {
            font-size: xx-large;
            margin-bottom: 10px;
        }

        a {
            color: #333333;
        }
    }
}

.imageSlide {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    height: 150px;

    .imageContainer {
        height: 120px;
        border: 1px solid #ececec;
        box-shadow: 0 0 2px 2px #ececec;
        border-radius: 8px;
        padding: 4px;
        img {
            height: 100%;

            border-radius: 4px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
