$elementBorderRadius: 4px;

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 91vh;
    animation: fadeIn 1200ms;
    color: #333333;
    text-align: left;

    &Wrapper {
        width: fit-content;
        height: 100%;
        overflow-y: scroll;
        margin-top: 50px;

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 20px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                border-radius: 20px;
                border: 6px solid transparent;
                background-clip: content-box;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: #393e46;
            }
        }
    }

    &Card {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        padding-bottom: 20px;
        height: fit-content;
        width: fit-content;
        max-width: 40vw;
        min-width: 600px;
        border-bottom: 2px solid #ececec;

        .body {
            width: 100%;
            max-width: 39vw;
            white-space: pre-wrap;
            line-height: 28px;
        }
    }

    &Image {
        max-width: 100%;
        border-radius: 4px;
        max-height: 40vh;
    }

    &Title {
        font-size: xx-large;
        font-weight: 450;
        margin: 10px 0;
    }

    &Subtitle {
        font-size: large;
    }

    &ReadMore {
        display: inline-flex;
        align-items: center;
        margin-bottom: 10px;
        &Button {
            text-decoration: none;
            color: #333333;
            border: 1px solid #393e46;
            width: 120px;
            padding: 8px 16px;
            border-radius: 4px;
            background-color: transparent;
            transition: background-color 200ms, color 200ms;
            font-weight: 450;

            &:hover {
                transition: background-color 200ms, color 200ms;
                background-color: #393e46;
                color: #fcfcfc;
            }
        }

        &Time {
            width: 120px;
            margin-left: 15px;
        }
    }

    &Meta {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        align-items: center;
        font-size: large;

        &Image {
            height: 45px;
        }
        &Text {
            font-weight: 400;
            margin-left: 10px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
