.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 91vh;
    animation: fadeIn 1200ms;

    &Body {
        height: 63%;
        margin-top: 15vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        overflow-y: auto;
        padding: 5px;
    }

    &CardContainer {
        width: 340px;
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Card {
        background-color: white;
        border: 1px solid #ececec;
        border-radius: 4px;
        box-shadow: 1px 1px 4px 5px #888888;

        width: 300px;
        height: 280px;
        transition: width 500ms, height 500ms;

        &Active,
        &:hover {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: width 300ms, height 300ms;

            img {
                width: 100% !important;
                height: 260px !important;
            }

            .company {
                margin-top: 0 !important;
                transition: margin-top 300ms;
            }
        }

        img {
            width: 300px;
            height: 200px;
            border-radius: 4px;
            transition: width 500ms, height 500ms;
        }
        .company {
            text-align: left;
            font-size: large;
            font-weight: 450;
            margin-top: 15px;
            margin-left: 10px;
            transition: margin-top 300ms;
        }
        .project {
            text-align: left;
            font-size: large;
            margin-left: 10px;
        }
    }

    &PopoutCardContainer {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        animation: popupAppear 300ms;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: pre-wrap;

        .popoutCard {
            width: 50%;
            height: 50%;
            min-width: 576px;
            overflow: hidden;
            min-height: 324px;
            max-width: 768px;
            max-height: 540px;
            background-color: #fcfcfc;
            border: 2px solid #393e46;
            border-radius: 4px;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            animation: popupCardAppear 300ms;

            .closeButton {
                width: 25px;
                height: 25px;
                position: absolute;
                font-size: medium;
                right: 3px;
                top: 2px;
                border-radius: 20px;
                border: 1px solid #393e46;
                background-color: transparent;
                font-weight: 450;
                &:hover {
                    border: 2px solid #393e46;
                    font-weight: 550;
                    cursor: pointer;
                }
            }

            &Body {
                display: flex;
                flex-direction: column;
                text-align: left;
                color: #333333;
                width: 90%;
                margin-top: 20px;

                &Project {
                    font-size: 32pt;
                    margin-bottom: 8px;
                }

                .companyAndPeriod {
                    padding-top: 8px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: large;
                    border-top: 1px solid darkgrey;
                    margin-bottom: 16px;
                }

                &Text {
                    font-size: large;
                }

                &Tags {
                    display: flex;
                    flex-flow: row wrap;
                    width: 100%;
                    margin-top: 10px;
                    .tag {
                        width: fit-content;
                        border: 1px solid grey;
                        background-color: #f5f5f5;
                        border-radius: 20px;
                        margin: 4px 5px;
                        padding: 2px 8px;
                        &:hover {
                            background-color: #c5c5c5;
                            cursor: default;
                        }
                    }
                }
            }
        }

        .closing {
            min-width: 0 !important;
            min-height: 0 !important;
            width: 0 !important;
            height: 0 !important;
            transition: width 300ms, height 300ms !important;
        }
    }
    .closing {
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 300ms;
    }
}

.portfolioBody::-webkit-scrollbar-track {
    background-color: transparent;
}

.portfolioBody::-webkit-scrollbar {
    width: 20px;
}

.portfolioBody::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.portfolioBody::-webkit-scrollbar-thumb:hover {
    background-color: #393e46;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popupAppear {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes popupCardAppear {
    0% {
        background-color: transparent;
        height: 0;
        width: 0;
        min-height: 0;
        min-width: 0;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #fcfcfc;
        height: 50%;
        width: 50%;
        min-height: 324px;
        min-width: 576px;
    }
}
