.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #393e46;
    color: white;
    height: 9vh;
    padding: 0 5vw;
    animation: slideDown 1s;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 230px;
        img {
            height: 90%;
            width: 225px;
            transition: height, width 300ms;
        }
        img:hover {
            height: 95%;
            width: 230px;
            transition: height, width 300ms;
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
            color: white;
            width: 80px;
            font-weight: 400;
            font-size: medium;
            transition: font-weight, font-size 300ms;
            &:hover {
                transition: font-weight, font-size 300ms;
                font-weight: 600;
                font-size: large;
            }
        }
    }

    .socials {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        margin-right: 15px;

        img {
            height: 40px;
            width: 40px;
            transition: width, height 300ms;
            &:hover {
                cursor: pointer;
                transition: width, height 300ms;
                height: 45px;
                width: 45px;
            }
        }
    }
}

@keyframes slideDown {
    0% {
        margin-top: -9vh;
    }
    100% {
        margin-top: 0;
    }
}
