.header {
    display: flex;
    flex-direction: row;
    background-color: #111111;
    color: white;
    height: 90px;

    .logo {
        flex: 1;
        text-align: right;
        img {
            height: 100%;
        }
    }

    .navbar {
        display: flex;
        flex: 4;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5vw;
        a {
            text-decoration: none;
            color: white;
            margin-right: 40px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        padding-right: 5vw;
    }

    .social {
        width: fit-content;
        height: fit-content;
        margin-right: 15px;

        img {
            height: 40px;
            width: 40px;
            background-color: white;
            &:hover {
                cursor: pointer;
                background-color: darkgrey !important;
            }
        }
    }
}
